<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trpsearcher">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MenuActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.BoardActivity" />
        <activity android:name=".activities.ChatActivity"/>
        <activity android:name=".activities.GamesActivity"/>
        <activity android:name=".activities.CreateFormActivity" />
        <activity android:name=".activities.CreateGameActivity" />
        <activity android:name=".activities.MessageActivity" />
        <activity android:name=".activities.GameActivity" />
        <activity android:name=".activities.UserProfileActivity" />
        <activity android:name=".activities.MessageChatActivity" />
        <activity android:name=".activities.RegistrationActivity" />
        <activity android:name=".activities.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>